<p></p>
    <a href="https://www.frclocks.com/">
        <img src="{% if env == 'DEV' %}../../static/images/lock.svg{% else %}/images/lock.svg{% endif %}" alt="FRCLocks" width="100">
    </a>
</p>

<p>
    <font size='2'>Website and <a href='https://www.chiefdelphi.com/t/the-district-points-algorithm-behind-frclocks-com/456749'>algorithm</a> by<br/><a href='https://www.chiefdelphi.com/u/agpapa/'>Antonio Papa</a> / <a href='https://www.thebluealliance.com/team/2590'>frc2590</a></font><br/><br/>
    <font size='2'>Created by<br/><a href='https://www.chiefdelphi.com/u/Brandon_L/'>Brandon Liatys</a> / <a href='https://www.thebluealliance.com/team/1403'>frc1403</a></font><br/><br/>
    <font size='2'>With support from<br/><a href='https://www.thebluealliance.com/team/3481'>frc3481</a></font><br/><br/>
    <font size='2'>Thanks to our sponsor
    <a href="https://www.andymark.com/" style="vertical-align: middle;"><br/>
        <img src="{% if env == 'DEV' %}../../static/images/andymark_logo.png{% else %}/images/andymark_logo.png{% endif %}" alt="AndyMark" width="120" style="vertical-align: middle;">
    </a>
</p>

<p><small>Powered by</small><br>
    <font size='2'><a href="https://www.thebluealliance.com/">The Blue Alliance</a></font>
</p>

<p>
    <a href="https://www.firstinspires.org/">
        <img src="{% if env == 'DEV' %}../../static/images/FIRST_Horz_RGB.png{% else %}/images/FIRST_Horz_RGB.png{% endif %}" alt="FIRST Robotics" width="100">
    </a>
</p>
