<!DOCTYPE html>
<html lang="en">
    {% include 'includes/header.html' %}
<body>
    <div class="container">
        {% include 'includes/nav.html' %}
        
        <h2>{{ event.name }}</h2>
        <h3>Points Remaining</h3>
        <div class="table-flex">
         <div class="table-container">
        <table class="points-remaining-table">
            <tr class="points-remaining-header">
                <th>Description</th>
                <th style="width: 60px;">Points</th>
            </tr>
            <tr>
                <td class="col-description">Adjusted Qualification Points</td>
                <td class="col-points" align="right">{{ points_remaining.quals_adjusted_points_remaining }}</td>
            </tr>
            <tr>
                <td class="col-description">Alliance Selection Points</td>
                <td class="col-points" align="right">{{ points_remaining.alliance_selection_points_remaining }}</td>
            </tr>
            <tr>
                <td class="col-description">Elimination Points</td>
                <td class="col-points" align="right">{{ points_remaining.elimination_points_remaining }}</td>
            </tr>
            <tr>
                <td class="col-description">Award points (Not including Impact or unobtainable rookie all star awards)</td>
                <td class="col-points" align="right">{{ points_remaining.award_points_remaining }}</td>
            </tr>
            <tr>
                <td class="col-description"><b>Total Points Remaining</b></td>
                <td class="col-points" align="right"><b>{{ points_remaining.points_remaining }}</b></td>
            </tr>
        </table></div></div>

        {% include 'includes/footer.html' %}
    </div>
</body>
</html>
