<!DOCTYPE html>
<html lang="en">
    {% include 'includes/header.html' %}
    <link rel="stylesheet" href="{% if env == 'DEV' %}../static/css/style.css{% else %}/css/style.css{% endif %}">
<body>
    <div class="container">
        <h1>FRC District Championship Locks</h1>
        <a href='districts/chs.html'>Chesapeake</a> <a href='districts/fim.html'>Michigan</a> <a href='districts/fin.html'>Indiana</a> <a href='districts/isr.html'>Israel</a> <a href='districts/fma.html'>Mid-Atlantic</a> <a href='districts/fnc.html'>North Carolina</a> <a href='districts/ne.html'>New England</a> <a href='districts/ont.html'>Ontario</a> <a href='districts/pch.html'>Peachtree</a> <a href='districts/pnw.html'>Pacific Northwest</a> <a href='districts/fit.html'>Texas</a><br/>

        <h3>Select a district.</h3>

        {% include 'includes/footer.html' %}
    </div>
</body>
</html>
