<!DOCTYPE html>
<html lang="en">
    {% include 'includes/header.html' %}
    <link rel="stylesheet" href="{% if env == 'DEV' %}../static/css/style.css{% else %}/css/style.css{% endif %}">
<body>
    <div class="container">
        <h1>FRC District Championship Locks</h1>
        <a href='districts/chs.html'>Chesapeake</a> <a href='districts/fin.html'>Indiana</a> <a href='districts/isr.html'>Israel</a> <a href='districts/fim.html'>Michigan</a> <a href='districts/fma.html'>Mid-Atlantic</a> <a href='districts/ne.html'>New England</a> <a href='districts/fnc.html'>North Carolina</a> <a href='districts/ont.html'>Ontario</a> <a href='districts/pnw.html'>Pacific Northwest</a> <a href='districts/pch.html'>Peachtree</a> <a href='districts/fsc.html'>South Carolina</a> <a href='districts/fit.html'>Texas</a><br/>

        <h3>Select a district.</h3>

        <p>
            <font size='2'>Website and <a href='https://www.chiefdelphi.com/t/the-district-points-algorithm-behind-frclocks-com/456749'>algorithm</a> by</font><br/><a href='https://www.chiefdelphi.com/u/agpapa/'>Antonio Papa</a> / <a href='https://www.thebluealliance.com/team/2590'>frc2590</a><br/><br/>
            <font size='2'>Created by</font><br/><a href='https://www.chiefdelphi.com/u/Brandon_L/'>Brandon Liatys</a> / <a href='https://www.thebluealliance.com/team/1403'>frc1403</a><br/><br/>
            <font size='2'>With support from</font><br/><a href='https://www.thebluealliance.com/team/3481'>frc3481</a><br/><br/>
        </p>

        <p><small>Powered by</small><br>
        <a href="https://www.thebluealliance.com/">The Blue Alliance</a></p>

        <p>
            <a href="https://www.frclocks.com/">
                <img src="{% if env == 'DEV' %}../static/images/lock.svg{% else %}/images/lock.svg{% endif %}" alt="FRCLocks" width="100">
            </a>
        </p>

        <p>
            <a href="https://www.firstinspires.org/">
                <img src="{% if env == 'DEV' %}../static/images/FIRST_Horz_RGB.png{% else %}/images/FIRST_Horz_RGB.png{% endif %}" alt="FIRST Robotics" width="100">
            </a>
        </p>
    </div>
</body>
</html>
